body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.routes {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 35px;
    left: 25px;
    width: 100px;
    height: 100px;
    background-color: #457b9d;
    overflow: hidden;
    z-index: 2;
    transition: 0.3s;
}



.route_container {
    width: 91%;
    height: 90%;
    border-radius: 15px;
    margin-top: 25px;
}

.routes_display {
    height: 90%;
    overflow-y: scroll;
    scroll-behavior: smooth;

}

.iconcontainer {
    width: 100px;
    height: 100px;
}

.iconcontainer:hover {
    cursor: pointer;
}

.routes_icon {
    position: absolute;
    bottom: 30px;
    left: 25px;
    font-size: 45px;
}



.route {
    position: relative;
    overflow: hidden;
    border: 3px solid #f1faee;
    margin: 5px;
    width: 95%;
    display: flex;
    justify-content: center;
    transition: 0.2s;
}

.route h2 {
    font-size: 25px;
}

.delete_button {
    color: whitesmoke;
    border: none;
    background-color: transparent;
    position: absolute;
    right: 15px;
    top: 20%;
}

.delete_button:hover {
    cursor: pointer;
}

.route:hover {
    border-radius: 25px;
}

.close_button_container {
    position: absolute;
    top: 15px;
    right: 15px;
}

.close_button_container:hover {
    cursor: pointer;
}

.form_container {
    margin-top: 15px;
    width: 100%;
    height: 100%;
}

.route_create_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #457b9d;
    position: absolute;
    top: 35px;
    left: 25px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    z-index: 2;
    transition: 0.2s;
}

.close_create_form_button {
    position: absolute;
    color: whitesmoke;
    top: 10px;
    right: 15px;
    width: 20px;
    height: 15px;
}

.close_create_form_button:hover {
    cursor: pointer;
}

.expand_create_route_button {
    font-size: 45px;
    color: whitesmoke;
}

.expand_create_route_button:hover {
    cursor: pointer;
}

.start,
.end {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.coordinates {
    width: 300px;
}

label {
    color: whitesmoke;
}

.location_pin_button {
    position: relative;
    top: 5px;
    font-size: 35px;
    color: #1d3557;
    transition: 0.2s;
}

.location_pin_button:hover {
    color: #f1faee;
    cursor: pointer;
}

.expand_1 {
    color: white;
    border-radius: 20px;
    width: 400px;
    height: 500px;
}

.form_entry {
    width: 100%;
}

.form_entry #route_name_container {
    display: inline-block;
    margin-left: 20px;
    width: 300px;
}

.form_entry .btn {
    color: whitesmoke;
    display: inline;
    margin-left: 200px;
    background-color: #457b9d;
}

.form_entry .btn:hover {
    background-color: #1d3557;
}

.sign_out_button {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 2;
}

.sign_out_button button {
    font-size: 30px;
    border: none;
    background-color: transparent;
    transition: 0.2s;
}

.sign_out_button button:hover{
    color: whitesmoke;
}

.expand_2 {
    width: 700px;
    height: 300px;
    border-radius: 25px;
}

.hidden {
    display: none;
}

.alert {
    width: 80%;
    position: absolute;
    top: 15px;
    left: 10%;
    z-index: 3;
}