body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.routes {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    bottom: 35px;
    left: 25px;
    width: 100px;
    height: 100px;
    background-color: #457b9d;
    z-index: 2;
    transition: 0.3s;
}



.route_container {
    /* display: flex; */
    /* flex-direction: column;
    justify-content: start;
    align-items: center; */
    width: 91%;
    height: 90%;
    overflow-y: scroll;
    border-radius: 15px;
    /* border: 3px solid #f1faee; */
    margin-top: 25px;
}

.route_container legend {
    font-size: 30px;
}

.iconcontainer {
    width: 100px;
    height: 100px;
}

.routes_icon {
    position: absolute;
    bottom: 30px;
    left: 25px;
    font-size: 45px;
}



.route {
    border: 3px solid #f1faee;
    margin: 5px;
    width: 95%;
    display: flex;
    justify-content: center;
    transition: 0.2s;
}

.route:hover {
    border-radius: 25px;
}

.close_button_container {
    position: absolute;
    top: 15px;
    right: 15px;
}

.route_create_form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #457b9d;
    position: absolute;
    top: 35px;
    left: 25px;
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 25px;
    z-index: 2;
}

.start,
.end {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.coordinates {
    width: 300px;
}

label {
    color: whitesmoke;
}

.location_pin_button {
    position: relative;
    top: 5px;
    font-size: 35px;
    color: #1d3557;
}

.location_pin_button:hover {
    cursor: pointer;
}

.expand_1 {
    color: white;
    border-radius: 20px;
    width: 400px;
    height: 500px;
}

.form_container {
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.form_container #route_name_container {
    background-color: red;
    width: 300px;
}

.form_container #button {
    
}

.expand_2 {
    width: 700px;
    height: 300px;
}

.hidden {
    display: none;
}