body {
    overflow: hidden;
    background-color: black;
    background-size: 30%;
}

#earth {
    position: absolute;
    bottom: -200px;
    right: 0px;
    height: 100%;
    scale: 1.1;
    z-index: 0;
}

#sign_in_form {
    position: absolute;
    top: 200px;
    left: 225px;
    /* background-color: gainsboro; */
    width: 400px;
    height: 700px;
    border-radius: 50px;
    /* box-shadow: 0 0 20px 5px white; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.form-header {
    color: white;
    text-shadow: 0 0 30px white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.form-body {
    margin-left: 45px;
    font-size: 1em;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
}

.container {
    display: flex;
    justify-content: space-between;
}

.form-body a {
    color: white;
    padding: 20px;
}

.form_body_signUp {
    height: 40%;
}

.form-body input {
    padding-left: 15px;
    color: white;
    font-size: 1em;
    width: 300px;
    height: 30px;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 0 15px white;
    text-shadow: 0 0 15px white;
    border: none;
    transition: 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.form-body input:hover {
    border: none;
    box-shadow: 0 0 25px white;
}

.form-body input:focus {
    color: white;
    text-shadow: 0 0 15px white;
    border: none;
    outline: none;
    background-color: black;
    box-shadow: 0 0 30px 3px white;
}

.form-body input::placeholder {
    color: white;
}

.form-body button {
    color: white;
    font-size: 1.2em;
    padding: 15px;
    background-color: transparent;
    border-radius: 15px;
    border: none;
    transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.form-body button:hover {
    color: white;
    font-size: 1.2em;
    padding: 15px;
    background-color: black;
    box-shadow: 0 0 15px white;
    text-shadow: 0 0 15px white;
    border: none;
}

.valid-feedback {
    margin-top: 5px;
    color: green;
}

.form-control.is-valid, .was-validated .form-control:valid {
    color: green;
    box-shadow: 0 0 30px 2px green;
}

.form-control.is-valid, .was-validated .form-control:invalid {
    color: red;
    box-shadow: 0 0 30px 2px red;
}

.form-control.is-valid, .was-validated .form-control:valid:focus {
    color: green;
    box-shadow: 0 0 30px 2px green;
}

.form-control.is-valid, .was-validated .form-control:invalid:focus {
    color: red;
    box-shadow: 0 0 30px 2px red;
}

.alert {
    width: 90%;
    position: absolute;
    top: 15px;
    left: 5%;
}